<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>food_category</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/homepage.css" %}">

</head>
<body>
	<header>
	<h1 style="color:white">Please choose your food category</h1>
		<h2 style="color:white">click on button to get different foods</h2>
		<ul>
			<li><a href="/gujrat/">Gujrat cuisine</a></li><br><br><br>
			<li><a href="/panjabi/">Panjabi cuisine</a></li><br><br><br>
			<li><a href="/tamil/">Tamil cuisine</a></li><br><br><br>
			<li><a href="/bengali/">Bengali cuisine</a></li><br><br><br>
			<li><a href="/rajastani/">Rajastani cuisine</a></li><br><br><br>
			<li><a href="/maharashtra/">maharashtra cuisine</a></li><br><br><br>
			<li><a href="/kar/">karnataka cuisine</a></li><br><br><br>
			<li><a href="/kerala/">keral cuisine</a></li><br><br>
		</ul>
	</header>
</body>
</html>
