<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>food_category</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/homepage.css" %}">

</head>
<body>
	<header>
	<h1 style="color:white">Please select your favorite gujarati food</h1>
		<ul>
			<li>Gujrati samosa</li><br><br>
			<li>Gujrati kadhi</li><br><br>
			<li>Dhokla</li><br><br>
			<li>Bardholi ki khichdi</li><br><br>
			<li>Dal dhokli</li><br><br>
			<li>Khandvi</li><br><br>
			<li>Undhiyu</li><br><br>
			
		</ul>
	</header>
</body>
</html>