<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>Home page</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/homepage.css" %}">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
	<header>
		<div class="main">
			<ol>
				<li><a href="/food_category/">food category</a></li>
				<li><a href="/welcome/">check the menu here
				</a></li>
				<li><a href="/search/">check the food based on price and food name</a></li>
				
			</ol>
			<ul>
				<li><a href="/accounts/login">signin</a></li>
				<li><a href="/signup/">signup</a></li>
				<li><a href="/accounts/logout/">logout</a></li>
				
			</ul>
			
		</div>
		<div class="title">
			<h1>My Restraunt</h1>
			<h2>Discover the best food & drinks here</h2>
			
		</div>
				
	</header>
	
</body>
</html>