<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>food_category</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/homepage.css" %}">

</head>
<body>
	<header>
	<h1 style="color:white">Please select your favorite karnataka food</h1>
		<ul>
			<li>Neer dosa</li><br><br>
			<li>korri gassi</li><br><br>
			<li>Allugedda</li><br><br>
			<li>Mysore pak</li><br><br>
			<li>Coorag pandi curry</li><br><br>
			<li>Haalbai</li><br><br>
			<li>rotti</li><br><br>
			
		</ul>
	</header>
</body>
</html>