<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>food_category</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/homepage.css" %}">

</head>
<body>
	<header>
	<h1 style="color:white">Please select your favorite kerala food</h1>
		<ul>
			<li>Appam</li><br><br>
			<li>Malabar Parota</li><br><br>
			<li>kerala prawn curry</li><br><br>
			<li>Thalassery</li><br><br>
			<li>puttu</li><br><br>
			<li>Khandvi</li><br><br>
			<li>palada payasam</li><br><br>
			
		</ul>
	</header>
</body>
</html>