<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>food_category</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/homepage.css" %}">

</head>
<body>
	<header>
	<h1 style="color:white">Please select your favorite maharashtra food</h1>
		<ul>
			<li>bhaji</li><br><br>
			<li>vada pav</li><br><br>
			<li>pav bhajhi</li><br><br>
			<li>sabudana</li><br><br>
			<li>sheera</li><br><br>
			<li>panipuri</li><br><br>
			<li>upma</li><br><br>
			
		</ul>
	</header>
</body>
</html>