<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>food_category</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/homepage.css" %}">

</head>
<body>
	<header>
	<h1 style="color:white">Please select your favorite panjabi food</h1>
		<ul>
			<li>Butter chicken</li><br><br>
			<li>chole bhature</li><br><br>
			<li>Masala Chana</li><br><br>
			<li>Dal Makhni</li><br><br>
			<li>Dal dhokli</li><br><br>
			<li>Khandvi</li><br><br>
			<li>Dhaba Dal</li><br><br>
			
		</ul>
	</header>
</body>
</html>