<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>food_category</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/homepage.css" %}">

</head>
<body>
	<header>
	<h1 style="color:white">Please select your favorite rajastani food</h1>
		<ul>
			<li>mohan thal</li><br><br>
			<li>laal mas</li><br><br>
			<li>mawa kachori</li><br><br>
			<li>lkalakand</li><br><br>
			<li>kachori</li><br><br>
			<li>sheera</li><br><br>
			<li>rice</li><br><br>
			
		</ul>
	</header>
</body>
</html>